@font-face {
    font-family: 'dcafsgv';
    src:    url('dcafsgv.eot?7gresn');
    src:    url('dcafsgv.eot?7gresn#iefix') format('embedded-opentype'),
        url('dcafsgv.ttf?7gresn') format('truetype'),
        url('dcafsgv.woff?7gresn') format('woff'),
        url('dcafsgv.svg?7gresn#dcafsgv') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dcafsgv' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-dcafx"], [class*=" icon-dcafx"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dcafsgv' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-size: 55px; /*Tamaño del icono*/
    font-variant: normal;
    text-transform: none;
    line-height: 1;



    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-whatsapp"], [class*=" icon-whatsapp"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dcafsgv' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-size: 25px; /*Tamaño del icono*/
    font-variant: normal;
    text-transform: none;
    line-height: 1;



    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-space-ship2"], [class*=" icon-space-ship2"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dcafsgv' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-size: 25px; /*Tamaño del icono*/
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #FFFFFF;




    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-black-and-white-credit-cards"], [class*=" icon-black-and-white-credit-cards"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dcafsgv' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-size: 25px; /*Tamaño del icono*/
    font-variant: normal;
    text-transform: none;
    line-height: 1;



    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-blog"], [class*=" icon-blog"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dcafsgv' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-size: 25px; /*Tamaño del icono*/
    font-variant: normal;
    text-transform: none;
    line-height: 1;



    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-dcafx"], [class*=" icon-dcafx"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dcafsgv' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-size: 25px; /*Tamaño del icono*/
    font-variant: normal;
    text-transform: none;
    line-height: 1;



    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


[class^="man-shap"], [class*=" icon-man-shap"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dcafsgv' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-size: 25px; /*Tamaño del icono*/
    font-variant: normal;
    text-transform: none;
    line-height: 1;



    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="menu48"], [class*=" icon-menu48"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dcafsgv' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-size: 20px; /*Tamaño del icono*/
    font-variant: normal;
    text-transform: none;
    line-height: 1;



    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="back36"], [class*=" icon-back36"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dcafsgv' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-size: 30px; /*Tamaño del icono*/
    font-variant: normal;
    text-transform: none;
    line-height: 1;



    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="dcafz"], [class*=" icon-dcafz"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dcafsgv' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-size: 70px; /*Tamaño del icono*/
    font-variant: normal;
    text-transform: none;
    line-height: 1;



    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


[class^="candado"], [class*=" icon-candado"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dcafsgv' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px; /*Tamaño del icono*/
    font-variant: normal;
    text-transform: none;
    line-height: 1;



    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="blog"], [class*=" icon-blog"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dcafsgv' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px; /*Tamaño del icono*/
    font-variant: normal;
    text-transform: none;
    line-height: 1;


    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="movie-player-play-button-2"], [class*="movie-player-play-button-2"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dcafsgv' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-size: 70px; /*Tamaño del icono*/
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #f8f8f8;



    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-black-and-white-credit-cards:before {
    content: "\e945";
}
.icon-briefcase-2:before {
    content: "\e946";
}
.icon-briefcase-business-tool:before {
    content: "\e947";
}
.icon-calendar:before {
    content: "\e948";
}
.icon-email-filled-closed-envelope:before {
    content: "\e949";
}
.icon-facebook-logo:before {
    content: "\e94a";
}
.icon-female-avatar:before {
    content: "\e94b";
}
.icon-instagram-logo:before {
    content: "\e94c";
}
.icon-label:before {
    content: "\e94d";
}
.icon-location-pin:before {
    content: "\e94e";
}
.icon-man-shape:before {
    content: "\e94f";
}
.icon-mobile-phone:before {
    content: "\e950";
}
.icon-movie-player-play-button-2:before {
    content: "\e951";
}
.icon-new-email-interface-symbol-of-black-closed-envelope:before {
    content: "\e952";
}
.icon-paper-bag:before {
    content: "\e953";
}
.icon-twitter-logo:before {
    content: "\e954";
}
.icon-user:before {
    content: "\e955";
}
.icon-world-wide-web:before {
    content: "\e956";
}
.icon-world:before {
    content: "\e957";
}
.icon-emergencias:before {
    content: "\e93d";
}
.icon-heartbeat:before {
    content: "\e93e";
}
.icon-hospitalizacion:before {
    content: "\e93f";
}
.icon-laboratorio:before {
    content: "\e940";
}
.icon-medicina:before {
    content: "\e941";
}
.icon-sangre:before {
    content: "\e942";
}
.icon-terapia:before {
    content: "\e943";
}
.icon-torre:before {
    content: "\e944";
}
.icon-blog:before {
    content: "\e900";
}
.icon-camera:before {
    content: "\e901";
}
.icon-contacto:before {
    content: "\e902";
}
.icon-dcafx:before {
    content: "\e903";
}
.icon-dcafz:before {
    content: "\e903";
}
.icon-dieta:before {
    content: "\e904";
}
.icon-fb:before {
    content: "\e905";
}
.icon-home:before {
    content: "\e906";
}
.icon-imc:before {
    content: "\e907";
}
.icon-inicio:before {
    content: "\e908";
}
.icon-instagram:before {
    content: "\e909";
}
.icon-servicios:before {
    content: "\e90a";
}
.icon-teach:before {
    content: "\e90b";
}
.icon-telephone:before {
    content: "\e90c";
}
.icon-twitter:before {
    content: "\e90d";
}
.icon-whatsapp:before {
    content: "\e90e";
}
.icon-administrator1:before {
    content: "\e90f";
}
.icon-awards2:before {
    content: "\e926";
}
.icon-back36:before {
    content: "\e911";
}
.icon-balance21:before {
    content: "\e912";
}
.icon-bald37:before {
    content: "\e913";
}
.icon-businessman61:before {
    content: "\e914";
}
.icon-cancel30:before {
    content: "\e915";
}
.icon-clerks:before {
    content: "\e916";
}
.icon-cooker4:before {
    content: "\e917";
}
.icon-dark4:before {
    content: "\e935";
}
.icon-dcafx2:before {
    content: "\e934";
}
.icon-email5:before {
    content: "\e933";
}
.icon-facebook31:before {
    content: "\e910";
}
.icon-fruits1:before {
    content: "\e92d";
}
.icon-home78:before {
    content: "\e92e";
}
.icon-identification51:before {
    content: "\e919";
}
.icon-instagram3:before {
    content: "\e91a";
}
.icon-job24:before {
    content: "\e91b";
}
.icon-judge5:before {
    content: "\e91c";
}
.icon-left2:before {
    content: "\e91d";
}
.icon-linkedin11:before {
    content: "\e91e";
}
.icon-logotype144:before {
    content: "\e936";
}
.icon-magnifying-glass32:before {
    content: "\e937";
}
.icon-marketing10:before {
    content: "\e938";
}
.icon-mathematics3:before {
    content: "\e918";
}
.icon-menu48:before {
    content: "\e932";
}
.icon-notebook13:before {
    content: "\e92f";
}
.icon-painter14:before {
    content: "\e91f";
}
.icon-pens16:before {
    content: "\e920";
}
.icon-photo137:before {
    content: "\e921";
}
.icon-quaver11:before {
    content: "\e922";
}
.icon-screen80:before {
    content: "\e923";
}
.icon-space-ship2:before {
    content: "\e925";
}
.icon-surgeon:before {
    content: "\e93c";
}
.icon-teacher37:before {
    content: "\e93a";
}
.icon-teaching2:before {
    content: "\e939";
}
.icon-telephone46:before {
    content: "\e924";
}
.icon-thumbs4:before {
    content: "\e930";
}
.icon-tooth:before {
    content: "\e931";
}
.icon-travel25:before {
    content: "\e927";
}
.icon-twitter3:before {
    content: "\e928";
}
.icon-veterinarian:before {
    content: "\e929";
}
.icon-video193:before {
    content: "\e92a";
}
.icon-view24:before {
    content: "\e92b";
}
.icon-website18:before {
    content: "\e92c";
}
.icon-woman115:before {
    content: "\e93b";
}
.icon-candado:before {
    content: "\e958";
}
